<% provide(:title, "Home") %>


<h1>Listing User and Link</h1>
<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Image_Link</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <% @images.each do |image| %>
      <tr>
        <td><%= image.user_name %></td>
        <td><img class="image_restrictions" src="<%= image.link %>"></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Destroy', image, method: :delete,
                                          data: {confirm: 'Are you sure you want to delete this image?'}%></td>
      </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Image_link', new_image_path %>

