<% provide(:title, "Create") %>

<%= form_for :image, url: images_path do |f| %>
    <p>
      <%= f.label :user_name %><br>
      <%= f.text_field :user_name %>
    </p>
    <p>
      <%= f.label :link %><br>
      <%= f.text_field :link %>

      <!--Not the best inline implementation. Could use simple-form gem instead-->
      <% if flash[:notice] %>
        <span class='notice help-inline'><%= flash[:notice] %></span>
      <% end %>
    </p>

    <p>
      <%= f.submit "Submit Link" %>
    </p>
<% end %>


