<% provide(:title, "Create") %>

<%= form_for :image, url: images_path do |f| %>
    <p>
      <%= f.label :user_name %><br>
      <%= f.text_field :user_name %>
    </p>
    <p>
      <%= f.label :link %><br>
      <%= f.text_field :link %>
    </p>

    <p>
      <%= f.submit "Submit Link" %>
    </p>
<% end %>


